<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QLPreviewHeight</key>
	<real>600</real>
	<key>QLThumbnailMinimumSize</key>
	<real>17</real>
	<key>QLPreviewWidth</key>
	<real>800</real>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>46FBFE9F-CD29-46F4-BB0A-957525B2832D</string>
		</array>
	</dict>
	<key>CFPlugInFactories</key>
	<dict>
		<key>46FBFE9F-CD29-46F4-BB0A-957525B2832D</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Stichwort file (Binary format)</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>de.ferroequinologist.stw.bin</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>stwbin</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Stichwort file (XML format)</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>de.ferroequinologist.stw.xml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>stwxml</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Stichwort file (SQL format)</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>de.ferroequinologist.stw.sql</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>stwsql</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SQLite</string>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>de.ferroequinologist.stw.sql</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Binary</string>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>de.ferroequinologist.stw.bin</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>XML</string>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>de.ferroequinologist.stw.xml</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>de_DE</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>de.ferroequinologist.${PRODUCT_NAME:rfc1034identifier}.quicklookgenerator</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>QLNeedsToBeRunInMainThread</key>
	<true/>
	<key>QLSupportsConcurrentRequests</key>
	<false/>
	<key>CFBundleVersion</key>
	<string>1</string>
</dict>
</plist>
